---
layout: page
title: Join
permalink: /join/
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="hidden">inspired lab A research space for experiential learning in information technology</h1>
          <h2 class="animated fadeInUp"><b>explore experience empower</b></h2>
          <p class="animated fadeInUp">Be the reason we help students build a brighter future.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Work with us</h2>
            <p>“If you want to feel happy, do something for yourself. 
              If you want to feel fulfilled, do something for someone else.” – Simon Sinek</p>
          </div>
          <p></p>
            <dl class="dl-horizontal">
              <dt>Explore</dt>
              <dd>
                Work on our projects and gain experience in a constantly adapting, collaborative environment. 
                Launch yourself into this immersive learning experience by working with a passionate and attentive team.
                Available as an internship credit or passport experience.                
              </dd>
              <p></p>
              <dt>Empower</dt>
              <dd> Partner with the InspirEd Lab to empower a team of students through a learning experience
                based on your idea. Inspire a team that develops prototypes, applications, and services that help make learning meaningful,
                promote quality practices, agility, and teamwork. 
                Share your idea, take the first step in developing a strong relationship.
                Available as internship, capstone, and honors program.
              </dd>
            </dl>

            <p>
                Join the InspirEd lab, and be part of a culture where server leadership, diversity, teamwork and collaboration reign. We’re all about people, and our students are why InspirEd Lab is a great place to work. 
                Be the reason we help students build a brighter professional future and achieve yours along the way with a rewarding learning experience.
            </p>
            
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{ site.baseurl }} /img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
  <div class="container">
   <div class="row">
     <div class="col-md-6 col-md-offset-6">
        <div class="section-title">
          <h2>What you do</h2>
            <p>
              "It doesn't make sense to hire smart people and tell them what to do; 
              we hire smart people so they can tell us what to do." - Steve Jobs
            </p>
        </div>
        <div class="block">
          <dl class="dl-horizontal">
                <p>
                   Innovative research and development applied to experiential learning in information technology.
                </p>
                <p></p>
            </dd>
            
            <dt>Research</dt>
            <dd> 
                  Research and develop new software tools, new technologies, and applications to be used as part of NIU programs as well as the lab.
                  <p></p>
            <dt>Serve</dt>
            <dd>
                  Serve as Scrum Master and/or Product Owner to into 4-6 agile student teams. 
                  These teams will incorporate many of the agile principles needed to be successful as a modern professional.
            </dd>
                  <p></p> 

            <dt>Present</dt>  
            <dd>            
                  Present research findings, demonstrate product development for Lab and NIU student peers, and COB leadership.
                <p></p>
            </dd>

            <dt>Minimum Qualification</dt> 
            <dd>        
                  Currently enrolled as NIU Student: OM&IS, Computer Science, other majors with OM&IS minor
                  GPA: 3.0
            </dd>  
            <p></p>  
            <p>
                  Our most successful students are driven and motivated. They possess the curiosity and determination to drive
                  and sustain a project from start to finish. They are comfortable with ambiguity and embrace change. 
                  They have a strong desire to raise the bar, discover challenging questions, and research their paths to the answers.
            </p>

          </dl>         
        </div>
            <p id="tags"></p>
            <span id="elusive" onmouseover="moveIt(this)" onclick="backIt(this)" ondblclick="popIt(this)" class="btn btn-move">Apply</span>
            <div id="apply" class="cui-embed" style="display: none; height: 400px; width: 100%;" data-cui-uid="o47nwe" data-cui-mode="widget" data-cui-pill-button-color="#0000FF"></div>
            <script src="https://public-assets.typeform.com/confab/embed.js" async></script>

      
              <script>
  
                  function moveIt(button) {
                    var tags = ["Please try again", 
                                "Are you sure?", 
                                "Try harder",
                                "Double your effort",
                                "Don't hate, iterate",
                                "We like you already!"
                              ];
                    var xcoords = new Array(50,100,150,200,250,300,350);
                    var x = Math.floor((Math.random()*7));
                    button.style.left = xcoords[x] + "px"; 
                    document.getElementById("tags").innerHTML = tags[x];
                  }
  
                  function backIt(button) {
                    var tags = ["It is about problem solving",
                                "Maybe one more time", 
                                "Double your effort",
                                "Almost doesn't count",
                                "Insist to persist"
                              ];
                    var xcoords = new Array(100,150,200,250,300);
                    var x = Math.floor((Math.random()*6));
                    button.style.left = xcoords[x] + "px";
                    document.getElementById("tags").innerHTML = tags[x];
                  }
                  
                  function popIt(button) {
                    alert("nice!");
                    var t = document.getElementById("tags");
                    var b = document.getElementById("elusive");
                    var f = document.getElementById("apply");
                    t.style.display = "none";
                    b.style.display = "none";
                    f.style.display = "block";
                  }

              </script>
  
          
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      
      <div class="section-title">
          <h2>What we do</h2>
          <p>"If I cannot do great things, I can do small things in a great way." - Martin Luther King Jr.</p>
     </div> 
     
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-loop"></i>
          <h4>Agility</h4>
          <p>Help teams implement and improve Agile development practices with Scrum, Kanban, and XP. </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-stats-bars"></i>
          <h4>Analytics</h4>
          <p>Story telling with data focusing on a combination of actionable insights and data visualizations to
             identify next steps toward an improvement goal.  </p>
        </div>
      </div>


      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-upload"></i>
          <h4>Cloud Shift</h4>
          <p>Build infrastructure as code and 
             deploy apps into a DevOps style continuous integration/delivery pipeline.
          </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-wand"></i>
          <h4>Ed Tech</h4>
          <p>Apply educational technology innovative practices, tools, and techniques 
            to IT teaching and learning.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-map"></i>
          <h4>Product Development</h4>
          <p>Go from concept to product the Lean Startup way.
            Apply UX research to IT products to solve user problems.</p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-code"></i>
          <h4>Web Development</h4>
          <p>Unlock value with collaborative design methodologies. 
              Provide modernization advice to help transform solutions. </p>
        </div>
      </div>

    </div>
            <p>InspirEd Lab develops prototypes, applications, and services that help make learning meaningful,
              promote quality practices, agility, and teamwork. </p>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Come get something started.</h2>
          <p>Read more about what we do and our philosophy. The work and results we achieved are the fruit our highly motivated team
             who is tenaciously committed to our vision.</p>
          <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }} /contact/" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>We are perennial learners, deep inside we never grow up. We have fun! </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="{{ site.baseurl }}/img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ site.baseurl }}/{{ tm.image }}" alt="People">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
