---
layout: page
title: Team
permalink: /team/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                  <h1>OUR TEAM</h1>
                  <b><p><big>We are working with great people with a strong motivation to teach and learn. 
                    Here you can read more about the InspirEd Lab team and collaborators.</big></p></b>
                </div>
            </div>
        </div>
    </div>
</section> 

 <!-- Servant leaders Start -->
<section id="service">
    <div class="container">
      <div class="row">
        
        <div class="section-title">
            <h2>Who we are</h2>
            <p>"Do not go where the path may lead, go instead where there is no path and leave a trail." - Ralph Waldo Emerson</p>
       </div> 
       
      </div>
      <div class="row ">
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
              <img src="https://media.licdn.com/dms/image/C5603AQHn1VCfb-jj-w/profile-displayphoto-shrink_200_200/0?e=1577318400&v=beta&t=l-cesBfPnK_eii24jbOByJ2gXlmrMXskDGS-IgumDrg" 
              alt="Labbie" class="labbie">
              <h4>Casey Walters</h4>
              <p>Portfolio Development Lead </p>
          </div>
        </div>
  
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
              <img src="https://media.licdn.com/dms/image/C5603AQGjCxxRVPslJg/profile-displayphoto-shrink_200_200/0?e=1577318400&v=beta&t=HV6XAQLQ28p_5jECQiTGCDbdCbB-h5TYnkYhnafHgLg" 
              alt="Labbie" class="labbie">
            <h4>Steven Holder</h4>
            <p>Product Development Lead  </p>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="service-item">
              <img src="https://media.licdn.com/dms/image/C4D03AQEuOrmhsc-1Yg/profile-displayphoto-shrink_200_200/0?e=1577318400&v=beta&t=_3jt9Q8EPGS8GS8AEM7bBX_Jd-D6mYCih1H9cTprTCE" 
                   alt="Labbie" class="labbie">
              <h4>Christopher Zamora</h4>
              <p>Experience Development Lead
              </p>
            </div>
          </div> 
  
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
              <img src="https://media.licdn.com/dms/image/C5103AQF3gVmS_8Zrmg/profile-displayphoto-shrink_200_200/0?e=1577318400&v=beta&t=YppotdubxziMHIpYUEM4AjgddqoLUAsAep9hLQoQr3M" 
              alt="Labbie" class="labbie">
              <h4>Federico Bassetti</h4>
              <p>People Development Lead 
              </p>
          </div>
        </div>
      </div>
    
                    
      </div>
</section>
                    
                    
<!-- Team Slider Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="block">
              {% if site.data.people.size > 0 %}
              <div class="testimonial-carousel">
                <div id="team-slider" class="owl-carousel owl-theme">
                  {% for tm in site.data.people %}
                  <div>
                      <div class="user">
                          <img src="{{ site.baseurl }}/{{ tm.image }}" alt="People">
                          <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                        </div>
                      <img src="{{ site.baseurl }}/img/cotation.png" alt="IMG">
                      <p>{{ tm.testimonial }}</p>
        
                  </div>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
          </div>
        </div>
 
    </div>
  </div>
</section>     



<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>Come get something started.</h2>
            <p>Read more about what we do and our philosophy. The work and results we achieved are the fruit our highly motivated team
               who is tenaciously committed to our vision.</p>
            <a class="btn btn-default btn-call-to-action" href="{{ site.baseurl }} /contact/" >Tell Us Your Story</a>
          </div>
        </div>
      </div>
    </div>
  </section>